body{
  background-color: rgb(187, 187, 187);
}
header{
  position: fixed;
  margin: 0;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.sprite{
  background-image: url("../images/sprite.png");
  background-repeat: no-repeat;
  z-index: 400;
}
nav:nth-child(1){
  background-color: rgb(224, 1, 9);
  padding:  0 90px;
}
div.sprite-logo{
  display: inline-block;
  margin-top: 20px;
  width: 300px;
  height: 60px;
  background-position: 5px -445px;
}

span.circle{
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: white;
  margin: 10px 20px;;
  padding-top: 0.6%;
  box-sizing: border-box;
  position: inherit;
}
.circle a{
  display: inline-block;
}
.color-icon{
  color: red;
  text-decoration: none;
}
.boton{
  display: inline-block;
  border: 1px solid white;
  padding: 7px;
  border-radius: 20px;
  color: white;
}
.boton a{
  text-decoration: none;
}
nav:nth-child(2){
  display: inline-block;
  background-color: #5c5c66;
  width: 100%;
}
nav ul li{
  display: inline-block;
  list-style-type: none;
  color: white;
  margin: 4px 10px;
}
ul{
  text-align: center;
}
.mayus-nav{
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}

section{
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  background-color: white;
  width: 90%;
  padding-top: 170px;
  margin-bottom: 0;
  padding-right: 15px;
  padding-left: 15px;

}
#content-left{
  display: inline-block;
  margin-right: 30px;
  width: 70%;
}
#content-rigth{
  display: inline-block;
  position: relative;
  width: 25%;
}
article div{
  display: inline-block;
}
article ul{
  display: inline-block;
}
h2{
  width: 21%;
  display: inline-block;
}
.img-principal{
  display: inline-block;
}
.ar-principal{
  background: gray;
  display: inline-block;
  margin: 5px 0;
}

.sprite-odebretch{
  width: 200px;
  height: 100px;
  background-position: 400px 5px;
}
.ar-secundario{
  display: inline-block;
  width: 49.5%;
  background-color: gray;
}
.sprite-alejandra{
  width: 200px;
  height: 100px;
  background-position: 200px 3px;
}

.libertad{
  background-color: red;
}
.ar-cuarto{
  background-color: blue;
}
